#skills {
    background: #ba3e48;
    padding: 50px 0 80px;
}

#work {
    background: $color5;
}

#work .content {
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact {
    background: #fafafa;
    padding: 50px 0 80px;
}

#connect {
    background: $color3;
}

.content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 25px;
}

.content-h {
}